<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/file-drop-zone/file-drop-zone.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../../bower_components/nvd3-pie/nvd3-pie.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
<link rel="import" href="../my-icons/my-icons.html">

<dom-module id="us-census-viewer-app">
  <template>
    <style>

      :host {
        display: block;
      }
      
      /* File drop: */
      file-drop-zone {
        width: 250px;
        height: 250px;
        background-color: #ffffff;
        display: block;
        margin: auto;
        color: #272727;
        -webkit-font-smoothing: antialiased;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: lighter;
        text-align: center;
        border: 1px solid #ffffff;
      }

      file-drop-zone.dragover, file-drop-zone:hover {
        border: 1px dashed #868686;
        transition: color 0.4s, border-color 0.4s;
        color: #868686;
      }

      file-drop-zone .icon-cnt {
        height: 150px;
        padding-top: 35px;
      }

      file-drop-zone .message-sub {
        font-size: 10px;
      }
      
      /* Header: */
      header {
        display: flex;
        background-color: #ffffff;
        border-bottom: 1px solid rgb(43, 178, 173);
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16px;
        padding: 0 5px 0 5px;
        height: 47px;
        -webkit-font-smoothing: antialiased;
        color: #272727;
      }

      .header-title {
        flex: 1 0 auto;
        font-size: 1.2em;
        margin: 11px 10px;
      }
      .header-title-sub {
        font-size: .7em;
        margin-left: 4px;
        color: #7e7e7e;
      }
      .header-title-sub a {
        text-decoration: none;
        color: #1f8be9;
      }
      .header-title-sub a:hover {
        color: #68b9ff;
      }
      
      .header-opts {
        flex: 0 1 auto;
        display: flex;
      }
      .header-logo {
        display: none;
        background: url(../../img/logo.png) center no-repeat;
        background-size: contain; 
      }

      .header-action {
        flex: 0 0 auto;
        margin: 13px 0;
        cursor: pointer;
        visibility: hidden;
      }
      .viewing .header-action {
        visibility: visible;
      }
      .header-action:hover {
        color: red;
      }
      .header-logo {
        flex: 0 0 100px;
      }

     .header-logo {
        width : 100px;
      }

      iron-pages {
        padding: 5px;
      }

       /* Loading modal: */
      .loading-modal {
        padding-top: 30px;
        color: #272727;
      }
      .loading-modal paper-spinner-lite {
        margin: auto;
        display: block;
      }

      /* Visu container */
      .visu-container {
        width: 95%;
        margin: auto;
        background-color: #ffffff;
        padding: 25px;
      }

      /* Error modal: */
      .message-cnt {
        display: flex;
        color: #272727;
        padding-top: 7px;
      }
      .message-icon {
        flex: 0 0 auto;
      }
      .message-body {
        flex: 1 0 auto;
        text-align: center;
      }

      /* Table */
      table {
        -webkit-font-smoothing: antialiased;
        font-family: "Source Sans Pro", sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }

      /* Other: */
      .color-trans {
        transition: color 0.2s ease;
      }

      .field-spinner.hidden {
        display: none;
      }

      .chart-info {
        font-family: "Source Sans Pro", sans-serif;
        margin: 0px 15px 0 0px;
        font-size: 15px;
      }
      .chart-info span {
        margin-right: 5px;
      }

      .visu-data nvd3-pie {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 12px;
      }

    </style>

    <style is="custom-style">
      .big {
        --iron-icon-height: 8em;
        --iron-icon-width: 8em;
      }
      .message {
        --iron-icon-height: 5em;
        --iron-icon-width: 5em;
        color: rgb(43, 178, 173)
      }
      paper-spinner-lite.green {
        --paper-spinner-color: rgb(43, 178, 173);
      }

      paper-dropdown-menu.green {

        --paper-input-container-label: {
          color: #272727;
        };
        --paper-input-container-input: {
          color: #272727;
        }
        --paper-dropdown-menu-ripple : {
          color: rgb(43, 178, 173);
        };
        --paper-input-container-underline-focus: {
          display: none;
        };
      }
    </style>

    <header id="header" class="landing">
      <div class="header-title">US Census<span class="header-title-sub">by <a class="color-trans" href="https://herrirvin.com">@herrirvin</a></span></div> 
      <div class="header-opts">
          <!-- <span class="header-action color-trans">Drop</span> -->
          <paper-button on-click="_onDropDataSource" class="header-action">Drop</paper-button>
          <span class="header-logo"></span>
      </div>
    </header>

    <iron-pages selected="0" id="main">

      <div class="landing">
        <file-drop-zone id="fileDrop" accept=".db" on-change="_uploadFile" on-error="_onBadFile">
          <div slot="drop-zone">
            <div class="icon-cnt"><iron-icon class="big" icon="myicons:file-upload"></iron-icon></div>
            <div class="message">Click here or drop a file to upload</div>
            <div class="message-sub">Only SQLite files are supported.</div>
          </div>
        </file-drop-zone>
      </div>

      <div class="visualization">

        <div class="visu-container">
          <div class="visu-choose"> 
            <paper-dropdown-menu id="dropdown" label="Fields" class="green" on-selected-item-changed="_onItemChange" close-on-activate disabled>
              <paper-listbox id="listbox" slot="dropdown-content" selected="0">
                <dom-repeat items="{{fields}}">
                  <template is="dom-repeat">
                    <paper-item>{{item}}</paper-item>
                  </template>
                </dom-repeat>
              </paper-listbox>
            </paper-dropdown-menu>
            <paper-spinner-lite id="fieldSpinner" active class="green field-spinner hidden" ></paper-spinner-lite>
            <div class="chart-info"><span>Hidden values: <b>{{hiddenRows}}</b></span> <span>Clipped Rows: <b>{{clippedRows}}</b></span></div>
          </div>

        <div class="visu-data">
          <nvd3-pie
            id="chart"
            data="[[data]]"
            no-data="Loading data..."
            auto-resize
            width=700
            height=400
            show-labels
            show-legend>
          </nvd3-pie>

          <div id="tableContainer">
          </div>
        </div>
      </div>
    </div>

    </iron-pages>

    <iron-ajax
      id="xhrUpload"
      url="{{host}}/api/upload"
      method="POST"
      contentType="multipart/form-data"
      on-response="_onUploadFinished"
      on-error="_handleUploadError"
    ></iron-ajax>
    <iron-ajax 
      id="xhrSetDataSource"
      url="{{host}}/api/setdatasource"
      method="POST"
      on-response="_onSetDataSourcesFinished"
      on-error="_handleUploadError"
    ></iron-ajax>
    <iron-ajax 
      id="xhrDropDataSource"
      url="{{host}}/api/drop"
      method="POST"
      on-response="_onDropFinished"
    ></iron-ajax>
    <iron-ajax 
      id="xhrFieldInfo"
      url="{{host}}/api/getaverage/{{selectedField}}"
      method="GET"
      on-response="_onFieldInfoFinished"
      on-error="_handleFieldInfoError"
    ></iron-ajax>

    <paper-dialog modal id="loadingModal" class="loading-modal">
      <paper-spinner-lite active class="green"></paper-spinner-lite>
      <div class="message-body"><p>Uploading file</p></div>
    </paper-dialog>

    <paper-dialog modal id="errorModal" class="error-modal">
      <div class="message-cnt">
        <div class="message-icon"><iron-icon class="message" icon="myicons:warning"></iron-icon></div>
        <div class="message-body"><p>Sorry, something went wrong.</p></div>
      </div>
      <div class="buttons">
        <paper-button dialog-confirm autofocus>Close</paper-button>
      </div>
    </paper-dialog>

  </template>

  <script>

    class UsCensusViewerApp extends Polymer.Element {

      static get is() { return 'us-census-viewer-app'; }   

      _escapeHtml(text) {
        return text
          .replace(/&/g, "&amp;")
          .replace(/</g, "&lt;")
          .replace(/>/g, "&gt;")
          .replace(/"/g, "&quot;")
          .replace(/'/g, "&#039;");
      }

      _buildTable (data) {
        let tableTemplate = `
          <table>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th> 
              <th>Age</th>
            </tr>
        `;

          
        data.forEach( (item) => {
          let count = item.count;
          let label = item.label;
          let age = item.value;
          let rowTemplate = `
            <tr>
              <td>${label}</td>
              <td>${age}</td> 
              <td>${count}</td>
            </tr>
          `;
          tableTemplate += rowTemplate;
        });

        tableTemplate += `</table>`;

        return tableTemplate;
      }
      
      // TODO : Check why this version of charts are missing styles...
      _correctChartDisplay () {
        const chart = this.$.chart;
        
        // Correct display, some styles may be missing in current version
        chart.svg.style.width = "100%"; 
        chart.svg.style.height = "100%";
        
        // Correct center alignment of chart...
        chart.shadowRoot.querySelector("div").style.margin = "auto";
      }

      _onFieldInfoFinished () {

        const response = this.$.xhrFieldInfo.lastResponse;
        window.requestAnimationFrame( () => {
          
          this.hiddenRows = response.totalCount != response.averages.length ? response.totalCount - response.averages.length : 0;
          this.clippedRows = response.clippedRows || 0;
          this.totalData = response.averages;
          this.data = response.averages.slice(0,5);
          this.$.chart.generateChart();
          this.$.dropdown.disabled = false;
          this.$.fieldSpinner.classList.add("hidden");
          this.$.tableContainer.innerHTML = this._buildTable(this.totalData);
        });
      }

      _onItemChange () {

        const dropdown = this.$.dropdown;

        if (!dropdown.selectedItem) {
          return;
        }
        
        dropdown.disabled = true;
        this.$.fieldSpinner.classList.remove("hidden");
        this.selectedField = dropdown.selectedItemLabel;
        this.$.xhrFieldInfo.generateRequest();
      }

      _onBadFile(error) {
        this._showModal(this.$.errorModal, error.message);
      }

      _showModal(modal, message) {

        message = this._escapeHtml(message);
        modal.querySelector(".message-body").innerHTML = `<p>${message}</p>`;
        modal.open();
      }

      _onDropDataSource (button, event) {
        this.$.xhrDropDataSource.generateRequest();
      }

      _onDataSourceDropError () {
        this._showModal(this.$.errorModal, "Could not drop database, please y.");
      }

      _onDropFinished () {
        
        this.$.header.classList.remove('viewing');
        this.$.header.classList.add('landing');
        this.$.main.select(0);
      }

      _uploadFile () {

        const xhrUpload = this.$.xhrUpload;
        const fileDrop = this.$.fileDrop;
        const fd = new FormData();

        fd.append("file", fileDrop.lastFile, { type: fileDrop.lastFile.type });
        xhrUpload.body = fd;
        
        // Clean after call - is this correct ?
        fileDrop.lastFile = null;
        fileDrop.files.length = 0;
        fileDrop.removeAttribute("has-files");

        this._showModal(this.$.loadingModal, "Uploading file...");
        xhrUpload.generateRequest();
      }

      _onUploadFinished () {
        this.$.xhrSetDataSource.generateRequest();
      }

      _onSetDataSourcesFinished () {

        const listbox = this.$.listbox;
        this.fields = this.$.xhrSetDataSource.lastResponse.fields;
        this.$.header.classList.add('viewing');
        this.$.header.classList.remove('landing');
        this.$.loadingModal.close();
        this.$.dropdown.disabled = false;
        this.$.fieldSpinner.classList.add("hidden");
        this.$.main.select(1);
      }

      _handleUploadError (error) {

        console.log(error);
        this.$.loadingModal.close();
        this._showModal(this.$.errorModal, "An error occured, pleasy reload and try again.");

        this.$.xhrDropDataSource.generateRequest();
      }

      _handleFieldInfoError (error) {
        console.log(error);
        this._showModal(this.$.errorModal, "An error occured, pleasy try again.");
        this.$.dropdown.disabled = false;
        this.$.fieldSpinner.classList.add("hidden");
      }

      ready () {
        super.ready();
        this._correctChartDisplay();
      }

      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'us-census-viewer-app'
          },
          host: {
            type: String,
            readOnly: true,
            //value: "http://localhost:8080"
            value: ""
          },
          fields: {
            type: Object,
            notify: true
          },
          selectedField: {
            type: String,
            notify: true
          },
          hiddenRows: {
            type: Number,
            notify: true
          },
          clippedRows: {
            type: Number,
            notify: true
          },
          totalData: {
            type: Object,
            value () {
              return [];
            }
          },
          data: {
            type: Object,
            value () {
              return [];
            }
          }
        };
      }
    }
    
    window.customElements.define(UsCensusViewerApp.is, UsCensusViewerApp);
  </script>
</dom-module>
